option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Unit: Percent
    Statistic: Average
    Period: '60'
    EvaluationPeriods: '1'
    Threshold: '70'
    UpperThreshold: '90'
    LowerThreshold: '30'
    BreachDuration: '120'