launchtemplate.config

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier:
        - subnet-05396958468770188
        - subnet-0f5f2acd2e07da453
        - subnet-093386ab4f64e0b57
      LaunchTemplate:
        LaunchTemplateId: "MyLaunchTemplate"
        Version: "1"

option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0ae72f3579dfb7880
    Subnets: subnet-05396958468770188,subnet-0f5f2acd2e07da453,subnet-093386ab4f64e0b57
    ELBSubnets: subnet-05396958468770188,subnet-0f5f2acd2e07da453,subnet-093386ab4f64e0b57