Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub "${AWS::StackName}-template"
      LaunchTemplateData:
        ImageId: !Ref AWSEBAmiId
        InstanceType: !Ref InstanceType
        SecurityGroupIds:
          - !Ref AWSEBSecurityGroup
        KeyName: !Ref KeyName
        UserData: !Base64 |
          #!/bin/bash
          /opt/elasticbeanstalk/bin/get-config --output YAML > /var/elasticbeanstalk/config.yml